<ul class="nav nav-tabs justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/">HieuNguyen</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/news">Hướng dẫn</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">API</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Auth</a></li>
      <li><a class="dropdown-item" href="#">Posts</a></li>
      <li><a class="dropdown-item" href="#">Users</a></li>
      <li><a class="dropdown-item" href="#">News</a></li>
    </ul>
  </li>
</ul>